*{
    line-height: 0px;
}
#container{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 70px;
    left: 50vh;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}
#userChoice{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
.square{
    grid-area;
}
.post{
    background-color: red;
}
body {
    margin: 30px;
  }